<%- include('../partials/header') %>
<body>
<form action="/passwords/list" method = "POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    
    
    <div id="overlayForPassword">
    </div>
    <div id="popUpForm">
        <form>
        <input class="form-group" type="url" 
                id = "url" 
                name ="url" 
                placeholder="URL"
                >
        <input class="form-group" type="email" 
            id="email" 
            name ="email" 
            placeholder="Email" 
            required
            >
        <input class="form-group" type="password" 
            id = "password" 
            name ="password" 
            placeholder ="Password recommended minimum 12 characters" 
            
            >
        <input class="form-group" type="text" 
            id = "note" 
            name = "note" 
            placeholder="Notes"
            >

        <div class="form-group">
            <input type="submit" value="Submit">
        </div>

        

        </form>
    </div>

</form>





<button id = "addNew">
    <h3>Add New</h3>   
</button>


<nav class = "passwordHeader">
    <ul>
        <li >Website</li>
        <li>Email</li>
        <li>Password</li>
        <li>Notes</li>
    </ul>
</nav>
  
<% passwordList.forEach(password => { %>
    <div class="passwordInfo">
        <button id="pwMoreInfo">
            <div class="fields">
                <%= password.site %> 
            </div>
            <div class="fields">
                <%= password.email%>
            </div> 
            <div class="fields">
                <%= password.password %>
            </div>
            <div class="fields">
                <%= password.notes %>
            </div>
            
        </button>                  
    </div>

    
<% })%>






<script>
    document.addEventListener('DOMContentLoaded', ()=>{
    const addNewBtn = document.getElementById('addNew');
    const popUpForm = document.getElementById('popUpForm');
    const overlay = document.getElementById('overlayForPassword');
    const update = document.getElementById('overlayForUpdate');
    const existingInfo = document.getElementById('pwMoreInfo');
    const displayData = document.getElementById('displayData');

    addNewBtn.addEventListener('click', () => {
      overlay.style.display = 'block';
      popUpForm.style.display = 'block';
    });

    document.querySelectorAll('.pwMoreInfo').forEach(btn => {
      btn.addEventListener('click', () => {
        update.style.display = 'block';
        popUpForm.style.display = 'block';
      });
    });
    existingInfo.addEventListener('click', () => {
      overlay.style.display = 'block';
      popUpForm.style.display = 'block';
    });

    overlay.addEventListener('click', () => {
    popUpForm.style.display = 'none';
    overlay.style.display = 'none';
  });
    });
   
    

</script>
</body>
<% include('../partials/footer') %>